<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="app"><%- app -%></div>
  </body>

  <script src="/javascripts/translations-<%= locale %>.js"></script>
  <script src="/javascripts/app.js"></script>
</html>
